HTML { scroll-behavior: smooth }

Body {
    padding: 0px 10px 10px 10px;
    background-color: var(--primary);
    color: var(--tertiary);
    animation: 1s fadeIn linear;
    margin: 1% auto;
    max-width: 900px;
}

.border {
    animation: 1s fillBorder linear forwards;
    position: absolute;
    top: 0;
    left: 50%;
}

nav { margin: 0 -0.5% }

nav a, nav a:visited {
    color: var(--tertiary);
    opacity: 0.7;
    text-decoration: none;
    margin: 1% 0.5%;
    border-bottom: none;
}

nav a:hover {
    cursor: pointer;
    border-bottom: none;
    opacity: 1;
    transition: 0.1s linear;
}

nav a:not(:hover) { transition: 0.1s linear }

h1, h2, h3, h4, h5, h6, a {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2  {
    margin: 1.5% auto;
    font-size: 18pt;
}

h3 {
    margin: 1% auto;
    font-size: 16pt;
}

h4 {
    margin: 0.5% auto -1% auto;
    font-size: 14pt;
}

h5 {
    margin: 0.25% auto -1% auto;
    font-size: 12pt;
}

h3 a, h5 a, p a {
    color: #cb4b16;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

h3 a:hover, h5 a:hover, p a:hover {
    text-decoration: none;
    border-bottom: 2px solid #cb4b16;
    transition: 0.1s linear;
}

h3 a:not(:hover), h5 a:not(:hover), p a:not(:hover) {
    border-bottom: 2px solid transparent;
    transition: 0.1s linear;
    text-decoration: none;
}

p a {
    font-family: "Consolas", monospace;
}

p, li {
    line-height: 1.6;
    font-family: "Consolas", monospace;
    text-decoration: none;
}

table {
    font-family: "Consolas", monospace;
    text-align: left;
    padding: 10px;
    margin: 0 -1.5%;
}

th {
    font-size: 14pt;
    border-bottom: 2px solid var(--secondary);
}

td {
    padding: 10px 10px 10px 0;
    font-size: 12pt;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fillBorder {
    0% {
        border-top: 5px solid transparent;
        transform: scaleX(0);
        transform-origin: 50% 50%;
        width: 0%;
    }
    100% {
        border-top: 5px solid #cb4b16;
        transform: scaleX(1);
        width: 100%;
        left: 0%;
    }
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-track { background: var(--primary) }
::-webkit-scrollbar-thumb { background: var(--secondary) }
::-webkit-scrollbar-thumb:hover { background: var(--secondary) }

::-moz-selection {
  background-color: var(--tertiary);
  color: var(--primary);
}
::selection {
  background-color: var(--tertiary);
  color: var(--primary);
}