HTML { scroll-behavior: smooth }

Body {
    padding: 5px 0px 0px 0px;
    background-color: var(--primary);
    color: var(--tertiary);
    margin: 0 auto;
    overflow-y: hidden;
    animation: 1s fadeIn linear;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: none;
}

nav a, nav a:visited {
    color: var(--tertiary);
    opacity: 0.7;
    padding: 5px;
    text-decoration: none;
    margin: 0 0.5%;
}

nav a:hover {
    opacity: 1;
    cursor: pointer;
}

#file-uploader { display: none }

#word-count:hover { cursor: default }

textarea {
    display: block;
    padding: 0px 10px;
    margin: 0.25% auto 0;
    resize: none;

    background: transparent;
    color: var(--tertiary);
    border: none;
    outline: none;
    
    font-size: 12pt;
    font-family: monospace;

    min-width: 96%;
}

.settings-menu {
    color: var(--tertiary);

    display: none;
    margin: auto;
    text-align: center;
}

.settings-menu span {
    opacity: 0.7;
    margin: auto 0.5%;
}

.settings-menu span:hover {
    opacity: 1;
    cursor: pointer;
}

select, input {
    color: var(--tertiary);
    padding: 0px;
    width: 10%;
    
    border: none;
    border-bottom: 2px solid var(--tertiary);
    
    opacity: 0.7;
    background-color: transparent;
    font-size: 100%;
}

select:hover, select:focus, input:hover, input:focus { opacity: 1 }

select * { color: #181818 }

:hover, :not(:hover), :focus, :not(:focus) { transition: 0.1s linear }

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@media only screen and (max-width:5000px) {
    body { overflow-x: hidden }
}

@media only screen and (max-width:1200px) and (max-height:609px) {
    .settings-menu { margin: 0 -0.1% 0 0 }
    .settings-menu select { width: 20% }
}

@media only screen and (max-width:1024px) and (max-height:768px) {
    nav { display: block }
}

@media only screen and (max-width:830px) and (max-height:450px) {
    .settings-menu { margin: 0 -0.1% 0 0 }
    textarea { margin: 1% auto }
}

@media only screen and (max-width:600px) and (max-height:307px) {
    nav { margin: -2.5% auto }
    .settings-menu { margin: 2% -0.1% 2% 0 }
}

@media only screen and (max-width:768px) {
    nav { display: block }
    #file-upload-btn, #save-as-btn, #error { display: none }
    select {
        width: 15%;
        font-size: 75%;
    }
}

@media only screen and (max-width: 600px) {
    nav a { font-size: 90% }
    select {
        width: 28%;
        font-size: 75%;
    }
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-track { background: var(--primary) }
::-webkit-scrollbar-thumb { background: var(--secondary) }
::-moz-selection {
  background-color: var(--tertiary);
  color: var(--primary);
}
::selection {
  background-color: var(--tertiary);
  color: var(--primary);
}